<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Page</h1>
     <div class="header">
        <li><a href="/admin/adminUpdate"> Update profile </a></li>
        <li><a href="/logout"> Logout </a></li>
    </div>
      <div class="function">
        <li><a href="/admin/adminAddStaff">Create A Staff</a></li>
        <li><a href="/admin/adminAddTrainer">Create A Trainer</a></li>
        <li><a href="/admin/adminViewTrainer"> View Trainer Account</a></li>
        <li><a href="/admin/adminViewStaff">View Staff Account</a></li>     
    </div>
</body>
</html>