<!DOCTYPE html>
<html>
    <head>
<title>Add A Course Category</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid rgb(231, 220, 220);
  box-sizing: border-box;
}
.top-nav-staff{
        background-color:  #b8b8b8	;
       color: rgb(5, 21, 79);
        font-size: 30px;
        padding:6px 12px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: auto;}
        .cc-tittle{
            font-size: 35px;
                        text-align: center;
font-family: Arial, Helvetica, sans-serif;
            color: rgb(16, 54, 39);
            font-weight: bold;
        }
        
    
</style>
</head>
<body>
 <div class="top-nav-staff"><a>FPT CO.</a></div><br>
 <div class="cc-tittle">Create A Course Category</div><br><br>
 <form method="POST" action="addCourseCategory">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Course Category Name</label>
                <input class="form-control" type="text" name="txtName" placeholder="Course Category Name">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" placeholder="Description" name="txtDescription" >
              </div>
            </div>
            <input type="submit" value="Add Trainee"></div>
          </div>
 </form>
</body>
</html> 