<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Course Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
      a {
        color: white;
      }
    
      .global-footer {
        list-style-type: none;
        overflow: hidden;
        background-color: rgb(27, 26, 26);
        margin-top: 160px;
        bottom: 0;
        width: 100%;
      }
    
      h6 {
        color: #C00F2F;
        margin-left: 100px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
      }
    
      strong {
        font-size: 15px;
        margin-left: 15px;
    
      }
      h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        
      }
    
      .header-nav {
        font-size: 19px;
        background-color: #ffffff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #3B5999;
        display: block;
        text-decoration: none;
        overflow: hidden;
        margin-left: 75%;
    
      }
    
      .header-nav a {
        font-size: 19px;
        background-color: #ffffff;
        color: #3B5999;
        padding: 20px 20px 8px 8px;
        text-decoration: none;
    
      }
    
      .header-nav a:hover {
        background-color: #D62A2A;
        color: rgb(255, 255, 255);
        padding: 20px 20px 8px 8px;
      }
    
      .top-nav-index {
        background-color: #002147;
        color: rgb(255, 255, 255);
        font-size: 28px;
        padding: 10px 15px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif
      }
    
      .w3-bar {
        color: rgb(255, 255, 255);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
      }
    </style>
    
    </head>
    <header>
      <div class="header-nav">
        <a href="/">ADMIN</a>
        <a href="/">STAFF</a>
        <a href="/">TRAINER</a>
        <a href="/">TRAINEE</a>
    
      </div>
    </header>
    
    <body>
      <div class="top-nav-index">FPT CO.</div>
      <div class="w3-bar" style="background-color:#C02F2F;float:right;">
      <a href="/staff/staff" class="w3-bar-item w3-button">Home</a>
      <div class="w3-dropdown-hover">
        <button class="w3-button">Course Category</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/staff/viewCourseCategory" class="w3-bar-item w3-button">View All Course Category</a>
          <a href="/staff/addCourseCategory" class="w3-bar-item w3-button">Create A Course Category</a>
          <a href="#" class="w3-bar-item w3-button">Edit/Update</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button">Course</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/staff/viewCourse" class="w3-bar-item w3-button">View All Course</a>
          <a href="/staff/addCourse" class="w3-bar-item w3-button">Create New Course</a>
          <a href="/staff/editCourse" class="w3-bar-item w3-button">Edit/Update</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button">Trainee</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/staff/viewTrainee" class="w3-bar-item w3-button">View All Trainee</a>
          <a href="/staff/addTrainee" class="w3-bar-item w3-button">Create New Trainee</a>
          <a href="/staff/editTrainee" class="w3-bar-item w3-button">Edit/Update</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button">Trainer</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/staff/viewTrainer" class="w3-bar-item w3-button">View All Trainer</a>
          <a href="/staff/addTrainer" class="w3-bar-item w3-button">Create New Trainer</a>
          <a href="#" class="w3-bar-item w3-button">Edit/Update</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button">Staff</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/staff/viewStaff" class="w3-bar-item w3-button">View Staff Account</a>
          <a href="admin/addStaff" class="w3-bar-item w3-button">Create New Staff</a>
          <a href="/staff/staffProfile" class="w3-bar-item w3-button">Profile</a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Create A Course Category</h2>
      </div>
      <div class="modal-body">
        <div class="py-1">
          <form method="POST" action="addCourseCategory" style="font-family: Arial, Helvetica, sans-serif;">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Course Category Name</label>
                      <input class="form-control" type="text" name="txtName" placeholder="Course Name">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Description</label>
                      <input class="form-control" type="text" placeholder="Description" name="txtDescription">
                    </div>
                  </div>
                </div>
            
              </div>
            </div>
            <div class="col d-flex justify-content-end">
              <input type="submit" value="Add Course Category">
            </div>
  
          </form>
  
        </div>
      </div>
    </div>
  </div>
  </div>

    <div class="global-footer" style="   font-size: 12px;">
      <div class="region region-global-footer row">
        <div id="block-menu-menu-global-footer-with-logo" class="block block-menu  col-md-6 col-lg-3 py-4">
    
          <div class="content-footer">
            <h6> © 2021 FPT CO.</h6>
            <ul class="menu" style="margin-left: 60px;">
              <li><a href="/" title="">Contact the University</a></li>
              <li><a href="/" title="">Accessibility</a></li>
              <li><a href="/" title="">Freedom of information</a></li>
              <li><a href="/" title="">Privacy policy & cookies</a></li>
              <li><a href="/" title="">Terms and conditions</a></li>
            </ul>
          </div>
        </div>
        <div id="block-menu-menu-global-footer-study-at-camb" class="block block-menu  col-md-6 col-lg-3 py-4">
          <div class="content-footer">
            <h6>Study at FPT CO.</h6>
            <ul class="menu" style="margin-left: 60px;">
              <li><a href="/" title="">Undergraduate</a></li>
              <li><a href="/" title="">Postgraduate</a></li>
              <li><a href="/" title="">Continuing education</a></li>
              <li><a href="/" title="">Professional education</a></li>
              <li><a href="/" title="">Courses in education</a></li>
            </ul>
          </div>
        </div>
        <div id="block-menu-menu-global-footer-about-uni" class="block block-menu  col-md-6 col-lg-3 py-4">
    
    
          <div class="content-footer">
            <h6>About the University</h6>
            <ul class="menu" style="margin-left: 60px;">
              <li><a href="/" title="">How the University work</a></li>
              <li><a href="/" title="">Give to FPT CO.</a></li>
              <li><a href="/" title="">Jobs</a></li>
              <li><a href="/" title="">Maps</a></li>
              <li><a href="/" title="">Visiting the University</a></li>
            </ul>
          </div>
        </div>
        <div id="block-menu-menu-global-footer-research" class="block block-menu  col-md-6 col-lg-3 py-4">
    
    
          <div class="content-footer">
            <h6>Research at FPT CO.</h6>
            <ul class="menu" style="margin-left: 60px;">
              <li><a href="/" title="">Research news</a></li>
              <li><a href="/" title="">About research at FPT CO.</a></li>
              <li><a href="/" title="">Public engagement</a></li>
              <li><a href="/" title="">FPT CO A-Z</a></li>
              <li><a href="/" title="">Spotlight on...</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

</body>
</html> 
