<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>New Trainee</title>
    <style>
        body{
            margin-top:20px;
            background:#c4e2f0;
        }
        h2{
            text-align: center;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .staff-h{background-color: rgb(52, 36, 39);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        padding: 5px 8px;
        color: white;
        font-weight: bold;
        border: white;
        }
    </style>
</head>
<body>
  <div class="back-staff"><button class="staff-h">BACK TO HOME STAFF</button> </div>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Create A Trainee</h2>
        </div>
        <div class="modal-body">
            <div class="py-1">
            <form class="form" method="POST" action="addTrainee">
                <div class="row">
                <div class="col">
                    <div class="row">
                    <div class="col">
                        <div class="form-group">
                        <label>Full Name</label>
                        <input class="form-control" type="text" name="txtName" placeholder="Full name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" placeholder="user@example.com" name="txtEmail">
                        </div>
                    </div>
                    </div>

         <div class="row">
                    <div class="col">
                        <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" name="txtUserName" placeholder="userName">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                        <label>Education</label>
                        <input class="form-control" type="text" placeholder="Education" name="txtEducation">
                        </div>
                    </div>
                    </div>
            <div class="row">
                <div class="col">
                        <div class="form-group">
                        <label>Date Of Birth</label>
                        <input class="form-control" type="text" name="txtDate" placeholder="Date Of Birth">
                        </div>
                        </div>
                          </div></div>
                    </div> 
                        <div class="col d-flex justify-content-end">
                        <input type="submit" value="Add Trainee"></div>
                 
                
                </div>
              
               
                    
                </div>
                </div>
            </form>

            </div>
        </div>
        </div>
    </div>
    </div>
</body>
</html>