<!DOCTYPE html>
<html lang="en">
    <head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> View All Course Category</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>     
            a {
                color: white;
                font-size: 14px;
                font-family: 'Times New Roman', Times, serif;
            }
            .global-footer {
                list-style-type: none;
                overflow: hidden;
                background-color: rgb(27, 26, 26);
                margin-top: 260px;
                bottom: 0;
                width: 100%;
            }
          h6 {
                color: rgb(255, 94, 0);
                margin-left: 100px;
                font-weight: bold;
                font-family: 'Times New Roman', Times, serif;
                font-size: 18px;
            }
            strong {
                font-size: 15px;
                margin-left: 15px;
            }
      
            .top-nav {
                background-color: #2c3563;
                color: rgb(253, 253, 253);
                font-size: 30px;
                padding: 6px 12px;
                font-weight: bold;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .w3-bar {
                color: white;
                font-family: 'Times New Roman', Times, serif;
            }
        </style>
    </head>

    <body>
        <header> <div class="top-nav">FPT CO.</div></header>
        <div class="w3-bar" style="background-color:#e95c0a;float:right;">
        <a href="/staff/staff" class="w3-bar-item w3-button">Home</a>
        <div class="w3-dropdown-hover">
        <button class="w3-button">Course Category</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/staff/viewCourseCategory" class="w3-bar-item w3-button">View All Course Category</a>
        <a href="/staff/addCourseCategory" class="w3-bar-item w3-button">Create A Course Category</a>
                    <a href="#" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Course</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/staff/viewCourse" class="w3-bar-item w3-button">View All Course</a>
                    <a href="/staff/addCourse" class="w3-bar-item w3-button">Create New Course</a>
                    <a href="/staff/editCourse" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Trainee</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/staff/viewTrainee" class="w3-bar-item w3-button">View All Trainee</a>
                    <a href="/staff/addTrainee" class="w3-bar-item w3-button">Create New Trainee</a>
                    <a href="/staff/editTrainee" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Trainer</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/staff/viewTrainer" class="w3-bar-item w3-button">View All Trainer</a>
                    <a href="/staff/addTrainer" class="w3-bar-item w3-button">Create New Trainer</a>
                    <a href="#" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Staff</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/staff/viewStaff" class="w3-bar-item w3-button">View Staff Account</a>
                    <a href="admin/addStaff" class="w3-bar-item w3-button">Create New Staff</a>
                    <a href="/staff/staffProfile" class="w3-bar-item w3-button">Profile</a>
                </div>
            </div>
        </div>
        <br>
        <br>
    
        <br>
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h2 class="modal-title">Create A Trainee</h2>
        </div>
        <div class="modal-body">
        <div class="py-1">
        <form class="form" method="POST" action="addTrainee" style="font-family:'Times New Roman', Times, serif;">
        <div class="row">
         <div class="col">
        <div class="row">
        <div class="col">
    <div class="form-group">
        <label>Full Name</label>
                    <input class="form-control" type="text" name="txtName" placeholder="Full name">
                </div> </div>
<div class="col">
<div class="form-group">
<label>Email</label>
<input class="form-control" type="text" placeholder="user@example.com"name="txtEmail">
</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input class="form-control" type="text" name="txtUserName"
                                                    placeholder="userName">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Education</label>
                                                <input class="form-control" type="text" placeholder="Education"
                                                    name="txtEducation">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Date Of Birth</label>
                                                <input class="form-control" type="text" name="txtDate"
                                                    placeholder="Date Of Birth">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <input type="submit" value="Add Trainee">
                            </div>


                    </div>



                </div>
            </div>
            </form>

        </div>
        </div>
        </div>
        </div>
        </div>
    </body>

</html>
