<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>Admin Page</title>
    <style>
        body{
            margin-top:20px;
            background:#82da7f;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col">
            <div class="row flex-lg-nowrap">
            <div class="col mb-3">
                <div class="e-panel card">
                <div class="card-body">
                    <div class="card-title">
                    </div>
                    <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th>Photo</th>
                            <th class="max-width">Name</th>
                            <th class="sortable">Date</th>
                            <th>Role</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td class="align-middle text-center">
                                <div class="bg-light d-inline-flex justify-content-center align-items-center align-top" style="width: 35px; height: 35px; border-radius: 3px;"><i class="fa fa-fw fa-photo" style="opacity: 0.8;"></i></div>
                            </td>
                            <td class="text-nowrap align-middle">Adam Cotter</td>
                            <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                            <td class="text-nowrap align-middle"><span>Training staff</span></td>
                            <td class="text-center align-middle">
                                <div class="btn-group align-top">
                                    <a href="#" class="btn btn-success">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span><strong>Edit</strong></span>            
                                    </a>
                                    <a href="#" class="btn btn-success">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span><strong>View</strong></span>            
                                    </a>
                                    <a href="#" class="btn btn-success">
                                    <span class="glyphicon glyphicon-remove"></span>
                                        <span><strong>Delete</strong></span>            
                                    </a>
                                </div>
                            </td>
                            </tr>
                            <tr>
                            <td class="align-middle text-center">
                                <div class="bg-light d-inline-flex justify-content-center align-items-center align-top" style="width: 35px; height: 35px; border-radius: 3px;"><i class="fa fa-fw fa-photo" style="opacity: 0.8;"></i></div>
                            </td>
                            <td class="text-nowrap align-middle">Pauline Noble</td>
                            <td class="text-nowrap align-middle"><span>26 Jan 2018</span></td>
                            <td class="text-nowrap align-middle"><span>Training staff</span></td>
                            <td class="text-center align-middle">
                                <div class="btn-group align-top">
                                    <a href="#" class="btn btn-success">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span><strong>Edit</strong></span>            
                                    </a>
                                    <a href="#" class="btn btn-success">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span><strong>View</strong></span>            
                                    </a>
                                    <a href="#" class="btn btn-success">
                                    <span class="glyphicon glyphicon-remove"></span>
                                        <span><strong>Delete</strong></span>            
                                    </a>
                                </div>
                            </td>
                            </tr>
                            <tr>
                            <td class="align-middle text-center">
                                <div class="bg-light d-inline-flex justify-content-center align-items-center align-top" style="width: 35px; height: 35px; border-radius: 3px;"><i class="fa fa-fw fa-photo" style="opacity: 0.8;"></i></div>
                            </td>
                            <td class="text-nowrap align-middle">Sherilyn Metzel</td>
                            <td class="text-nowrap align-middle"><span>27 Jan 2018</span></td>
                            <td class="text-nowrap align-middle"><span>Trainer</span></td>
                            <td class="text-center align-middle">
                                <div class="btn-group align-top">
                                    <a href="#" class="btn btn-success">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span><strong>Edit</strong></span>            
                                    </a>
                                    <a href="#" class="btn btn-success">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span><strong>View</strong></span>            
                                    </a>
                                    <a href="#" class="btn btn-success">
                                    <span class="glyphicon glyphicon-remove"></span>
                                        <span><strong>Delete</strong></span>            
                                    </a>
                                </div>
                            </td>
                            </tr>
                            <tr>
                            <td class="align-middle text-center">
                                <div class="bg-light d-inline-flex justify-content-center align-items-center align-top" style="width: 35px; height: 35px; border-radius: 3px;"><i class="fa fa-fw fa-photo" style="opacity: 0.8;"></i></div>
                            </td>
                            <td class="text-nowrap align-middle">Terrie Boaler</td>
                            <td class="text-nowrap align-middle"><span>20 Jan 2018</span></td>
                            <td class="text-nowrap align-middle"><span>Trainer</span></td>
                            <td class="text-center align-middle">
                                <div class="btn-group align-top">
                                    <a href="#" class="btn btn-success">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span><strong>Edit</strong></span>            
                                    </a>
                                    <a href="#" class="btn btn-success">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span><strong>View</strong></span>            
                                    </a>
                                    <a href="#" class="btn btn-success">
                                    <span class="glyphicon glyphicon-remove"></span>
                                        <span><strong>Delete</strong></span>            
                                    </a>
                                </div>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 mb-3">
                <div class="card">
                <div class="card-body">
                    <div class="text-center px-xl-3">
                    <button class="btn btn-success btn-block" type="button">New Training Staff</button>
                    </div>
                    <br>
                    <div class="text-center px-xl-3">
                    <button class="btn btn-success btn-block" type="button">New Trainer</button>
                    </div>
                    <hr class="my-3">
                    <div class="e-navlist e-navlist--active-bold">
                    <ul class="nav">
                        <li class="nav-item active"><a href="" class="nav-link"><span>All: </span></a></li>
                    </ul>
                    </div>
                    <div>
                    <div class="form-group">
                        <label>Search by Name:</label>
                        <div class="input-group">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" />
                            <hr -3>
                            <button type="button" class="btn btn-success">search</button>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>