<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>

</head>
<body>
    <h1>Welcome Admin Page</h1>
    <div class="header">
   
        <li><a href="/"> Logout </a></li>
    </div>
    <div class="function">
        <li><a href="/adminAddStaff">Add Staff</a></li>
        <li><a href="/adminAddTrainer">Add Trainer</a></li>
        <li><a href="/adminEditTrainer"> Manage Trainer Account</a></li>
        <li><a href="adminEditStaff"> Manage Staff Account</a></li>     
    </div>
</body>
</html>