<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>Change Password</title>
    <style>
        body{
            margin-top:20px;
            background:#a5e2a3;
        }
    </style>
</head>
<body>

    <div class="container">
        <h2 class="modal-title">Change Password of User</h2>
        <br>
        <div class="form-group">
        <label>Current Password</label>
        <input class="form-control" type="password" placeholder="••••••">
        </div>
        <div class="form-group">
        <label>New Password</label>
        <input class="form-control" type="password" placeholder="••••••">
        </div>
        <div class="form-group">
        <label>Confirm Password</label>
        <input class="form-control" type="password" placeholder="••••••">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="/" class="btn btn-warning">Cancel</a>
        </div>
    </div>
</body>
</html>