<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
    <title>Staff Page</title>
    <link href="css/style.css" rel="stylesheet" />
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#"><b style="font-size: 30px">fpt</b> CO.</a>
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    {{#if loginName}}
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">{{loginName}}<i
                            class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>
    <div id="layoutSidenav" >
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav" style="font-size: 12.5px; ">
                        <div class="sb-sidenav-menu-heading"><b style="font-size: 14px">Management</b></div>
                        <a class="nav-link" href="#" style="text-decoration: none;">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Trainee Account
                        </a>
                        <a class="nav-link" href="#" style="text-decoration: none; ">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Categories Course
                        </a>
                        <a class="nav-link" href="#" style="text-decoration: none; ">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Course
                        </a>
                        <a class="nav-link" href="#" style="text-decoration: none; ">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Assign
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container py-5" style="margin-top: 3%; margin-left: 15%">
        <center>
            <div class="form-group">
                <label>Search by Name:</label>
                <div class="input-group">
                    <a href="#" class="btn btn-success" style="margin-left: 5%;">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span><strong>Add new account</strong></span>
                    </a>
                    <input type="search" style="margin-left: 20%; width: 40%;  flex: none;" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                    <hr -3>
                    <button type="button" class="btn btn-success">search</button>
                </div>
            </div>
        </center>
        <div class="e-panel card" style="width: 90%; margin-left: 5%">
            <div class="card-body">
                <div class="card-title">
                </div>
                <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="max-width" style="text-align:center">Name</th>
                                    <th class="sortable" style="text-align:center">Date of birth</th>
                                    <th style="text-align:center">Education</th>
                                    <th style="text-align:center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td class="text-nowrap align-middle">Adam Cotter</td>
                                    <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                                    <td class="text-nowrap align-middle"><span>Training staff</span></td>
                                    <td class="text-center align-middle">
                                        <div class="btn-group align-top">
                                            <a href="/admin/adminEditStaff" class="btn btn-success">
                                                <span class="glyphicon glyphicon-edit"></span>
                                                <span><strong>Edit</strong></span>
                                            </a>
                                            <a href="#" class="btn btn-success">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                <span><strong>View</strong></span>
                                            </a>
                                            <a href="#" class="btn btn-success">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                <span><strong>Delete</strong></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="text-nowrap align-middle">Pauline Noble</td>
                                    <td class="text-nowrap align-middle"><span>26 Jan 2018</span></td>
                                    <td class="text-nowrap align-middle"><span>Training staff</span></td>
                                    <td class="text-center align-middle">
                                        <div class="btn-group align-top">
                                            <a href="/admin/adminEditStaff" class="btn btn-success">
                                                <span class="glyphicon glyphicon-edit"></span>
                                                <span><strong>Edit</strong></span>
                                            </a>
                                            <a href="#" class="btn btn-success">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                <span><strong>View</strong></span>
                                            </a>
                                            <a href="#" class="btn btn-success">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                <span><strong>Delete</strong></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="text-nowrap align-middle">Sherilyn Metzel</td>
                                    <td class="text-nowrap align-middle"><span>27 Jan 2018</span></td>
                                    <td class="text-nowrap align-middle"><span>Trainer</span></td>
                                    <td class="text-center align-middle">
                                        <div class="btn-group align-top">
                                            <a href="/admin/adminEditTrainer" class="btn btn-success">
                                                <span class="glyphicon glyphicon-edit"></span>
                                                <span><strong>Edit</strong></span>
                                            </a>
                                            <a href="#" class="btn btn-success">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                <span><strong>View</strong></span>
                                            </a>
                                            <a href="#" class="btn btn-success">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                <span><strong>Delete</strong></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="text-nowrap align-middle">Terrie Boaler</td>
                                    <td class="text-nowrap align-middle"><span>20 Jan 2018</span></td>
                                    <td class="text-nowrap align-middle"><span>Trainer</span></td>
                                    <td class="text-center align-middle">
                                        <div class="btn-group align-top">
                                            <a href="/admin/adminEditTrainer" class="btn btn-success">
                                                <span class="glyphicon glyphicon-edit"></span>
                                                <span><strong>Edit</strong></span>
                                            </a>
                                            <a href="#" class="btn btn-success">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                <span><strong>View</strong></span>
                                            </a>
                                            <a href="#" class="btn btn-success">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                <span><strong>Delete</strong></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
</body>

</html>