<!DOCTYPE html>
<html>
    <head>
<title>Add A Course Category</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid rgb(231, 220, 220);
  box-sizing: border-box;
}
.top-nav-staff{
        background-color:  #b8b8b8	;
       color: rgb(5, 21, 79);
        font-size: 30px;
        padding:6px 12px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: auto;}
        .cc-tittle{
            font-size: 35px;
                        text-align: center;
font-family: Arial, Helvetica, sans-serif;
            color: rgb(16, 54, 39);
            font-weight: bold;
        }
        .form-cc{
            margin-left: 22%;
           font-family: Arial, Helvetica, sans-serif;
        }
        .back-pr{
            margin-top: 15%;
            margin-left: 20px;
            background-color: cadetblue;
            color: rgb(13, 152, 152);
            border: white;
            padding: 8px 10px;
        }
    
</style>
</head>
<body>
 <div class="top-nav-staff"><a>FPT CO.</a></div><br>
 <div class="cc-tittle">Create A Course Category</div><br><br>
 <div class="form-cc">
 <form style="font-size: 15px;">
  <div class="form-row">
    <label  class="col-sm-2 col-form-label">Course Category Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  name="name">
    </div>
  </div>
  <div class="form-row">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" style="height: 120px;">
     
    </div>   
  <button type="button" class="btn btn-info" style="margin-left:60% ;">Save</button>
  </div></form></div>
<div class="back-bt"><button type="button" class="back-pr"><a href="/staff" style="color: mintcream;">Previous</a></button></div>
</body>
</html> 