<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Page</title>
</head>
<body>
    <h1>Staff Page</h1>
     <div class="header">
    
        <li><a href="/logout"> Logout </a></li>
    </div>
      <div class="function">
        <li><a href="/staff/staffAddCourseCategory">Create A Course Category</a></li>
        <li><a href="/staff/staffAddCourse">Create A Course</a></li>
        <li><a href="/staff/viewTrainer"> View Trainer Account</a></li>
        <li><a href="/staff/viewStaff">View Staff Account</a></li>     
    </div>
</body>
</html>