<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Page</title>
    <style> .top-nav-index{
        background-color:  #85467b	;
       color: rgb(253, 253, 253);
        font-size: 30px;
        padding:10px 20px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: auto;}
    </style>
</head>
<body>
    <div class="top-nav-index"><a>FPT CO.</a></div>
    <h2>Trainer Page</h2>
     <div class="header">
    
        <li><a href="/logout"> Logout </a></li>
    </div>
      <div class="function">
        <li><a href="/trainer/trainerMarkTrainee">Trainer Mark Trainee</a></li>
        <li><a href="/staff/addCourse">Courses assigned</a></li>
        <li><a href="/staff/addTrainee">Edit Profile</a></li>
        <li><a href="/staff/viewStaff">View Trainee Pass Fail</a></li>     
    </div>
</body>
</html>