    <div class="function" style="margin-left: 10px;"><li><a href="/logout">
          Logout </a></li>
      <li><a href="/trainer/trainerMarkTrainee">Trainer Mark Trainee</a></li>
      <li><a href="/trainer/trainerAddCourse">Create New Course</a></li>
      
       <li><a href="/trainer/trainerProfile">View Profile</a></li>
      <li><a href="/trainer/viewTrainee">View all Trainee</a></li>
      <li><a href="/trainer/viewTraineegrade">View Trainee Pass Fail</a></li>
      <li><a href="/trainer/trainerViewCourse">View All Course</a></li>
    </div>